@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    scrollbar-width: none;
    scroll-behavior: smooth;

    text-decoration: none;
    list-style: none;
    font-family: "Inter", serif, cursive;
    color: rgb(238, 238, 238);
}

body {
    background: linear-gradient(#5360accc, #5360ac) no-repeat;

    nav {
        width: calc(100vw / 60 * 59);
        height: calc(100vh / 12);
        margin: calc(100vw / 120);
        padding: calc(100vw / 120) calc(100vw / 60);
        border-radius: calc(100vh / 160);
        border: 1px solid rgba(255, 255, 255, 0.3);
        background: rgba(255, 255, 255, 0.21);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.3px);

        display: flex;
        align-items: center;
        justify-content: space-between;

        position: sticky;
        top: calc(100vw / 120);
        left: calc(100vw / 120);
        z-index: 10;

        font-size: calc(100vh / 40);

        .nav-title>img {
            width: calc(100vh / 12 - 100vw / 60);
            height: calc(100vh / 12 - 100vw / 60);
            margin-right: calc((100vh / 12 - 100vw / 60) * .5);
            border-radius: calc(100vh / 160);
        }

        .nav-title {
            display: flex;
            align-items: center;
        }

        ul {
            display: flex;

            li {
                margin-left: calc(100vh / 30);
                border-color: rgb(238, 238, 238);

                &:hover {
                    border-bottom: calc(100vh / 640) solid rgb(238, 238, 238);
                }
            }

            .selecting {
                border-bottom: calc(100vh / 640) solid rgb(238, 238, 238);
            }
        }
    }

    section {
        width: 100vw;
        height: 100vh;
        padding: calc(100vh / 36);
        padding-top: calc(100vh / 8);

        display: flex;
        align-items: center;
        justify-content: space-between;

        font-size: calc(100vh / 40);

        .small-container {
            width: calc(100vw / 3);
        }

        .big-container {
            width: calc(100vw / 3 * 2);
        }

        .big-container,
        .small-container {
            height: 100%;
            margin: 0 calc(100vh / 72);
            border-radius: calc(100vh / 160);
            border: 1px solid rgba(255, 255, 255, 0.3);
            background: rgba(255, 255, 255, 0.21);
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(2.3px);
            padding: 1%;

            overflow: scroll;

            .blog-preview {
                width: 100%;
                height: 90%;
                overflow-y: scroll;

                p {
                    &:last-of-type {
                        margin-top: 6%;
                    }
                }

                h3 {
                    margin-top: 6%;
                    margin-bottom: 2%;
                }
            }

            .blog-container {
                width: 100%;
                height: 90%;
                overflow-y: scroll;

                .blog-card {
                    width: 100%;
                    height: 20%;
                    padding: 4%;
                    margin: 8% 0;
                    border-radius: calc(100vh / 160);
                    border: 1px solid rgba(255, 255, 255, 0.3);
                    cursor: pointer;
                    transition: .3s;


                    &:hover {
                        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                    }

                    .blog-title {
                        width: 100%;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.21);
                    }

                    .blog-description {
                        font-size: .8em;
                    }
                }
            }

            .container-title {
                width: 100%;
                text-align: center;
                padding-bottom: calc(100vh / 20);

                &::before {
                    content: "<";
                    padding-right: 1em;
                }

                &::after {
                    content: "/>";
                    padding-left: 1em;
                }
            }

            .lang-container {
                display: flex;
                flex-wrap: wrap;
                gap: calc((100% - 3.4 * (100vh / 12)) / 4);

                i {
                    font-size: calc(100vh / 12);
                    margin: calc((100% - 3.4 * (100vh / 12)) / 4) 0;
                }
            }

            a {
                transition: .3s;

                &:hover {
                    color: #5360ac;
                }
            }

            .link-container>ul {
                width: 100%;
                height: 100%;

                li {
                    width: 100%;

                    .link-name {
                        font-size: 1.2em;

                        &::before {
                            content: "[";
                            margin-right: .5em;
                        }

                        &::after {
                            content: "]";
                            margin-left: .5em;
                        }
                    }

                    .link-description {
                        margin: 6% 0;
                        transition: .3s;
                        width: fit-content;

                        &:hover {
                            color: #5360ac;
                        }
                    }
                }
            }

            .message-input {
                width: 100%;
                height: 90%;
                font-size: 1.2em;
                border-radius: calc(100vh / 160);
                border: 1px solid #5360ac;
                background: rgba(255, 255, 255, 0.21);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(2.3px);
                padding: 1%;
                resize: none;

                overflow: scroll;
                position: relative;

                &:focus {
                    outline: none;
                }

                &::selection {
                    background: rgb(238, 238, 238);
                    color: #5360ac;
                }
            }

            .send-btn {
                width: calc(100vh / 12);
                height: calc(100vh / 12);
                border-radius: 50%;
                border: 1px solid #5360ac;
                background: rgba(255, 255, 255, 0.21);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(2.3px);

                position: absolute;
                bottom: 3.2%;
                right: 3.2%;
                background-image: url("./send.jpg");
                background-size: cover;
                cursor: pointer;

                &:hover {
                    animation: resizing 1.2s linear;
                }
            }
        }
    }

    #top {
        position: relative;

        .top-title {
            font-size: calc(100vh / 6);

            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .top-subtitle {
            font-size: calc(100vh / 24);

            position: absolute;
            top: 70%;
            left: 70%;
            transform: translate(-50%, -50%);

            div {
                display: inline;
            }
        }
    }
}

@keyframes resizing {
    0% {
        scale: 1;
    }
    40% {
        scale: .8;
    }
    100% {
        scale: 1;
    }
}

